 @import url(https://fonts.googleapis.com/css?family=Abel);
 body{
	max-width:800px;
	left:0;
	right:0;
	top:0;
	bottom:0;
	margin:auto;
	background-image: none;

 }
 #textarea{
	min-height:300px;
	border:none;
 }

#mceu_11{
	width:92%;
	margin-left:10px;
	margin-right:10px;
	 font-family:Abel;
}

.article-param{
	    width: 86%;
		margin-left: 10px;
    margin-right: 10px;
}
