@import url(https://fonts.googleapis.com/css?family=Roboto:300);

#gif{		/*css for loader*/
text-align:center;
padding-top:200px;

}

#no-article{
	text-align:center;
  font-family: "Roboto", sans-serif;
	font-weight:bold;
  }
#load{
	margin:0 auto;
	margin-left:20px;
}

.loader{	/*css for article box*/
	background-color:#f6f6f6;
	border-radius:5px;
	word-wrap:break-word;
    border: 0px solid #ab6565;
    margin: 0 auto;
    padding: 20px;
    max-width: 700px;
    margin-bottom: 18px;
	margin-left:20px;
	margin-right:20px;
	font-family:calibri;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2), 0 6px 13px 0 rgba(0, 0, 0, 0.24);
}
.index{
	max-width:800px;
	margin: 0 auto;	
	margin-top: 50px;
	margin-bottom:60px;
	background-image: url("bg.png");
    font-family:serif;
	
 }
 
 #textarea{		/*css for textarea*/
	min-height:300px;
 }

.input {		/*css for title and heading*/
	margin-top: 1em;
	padding: 0.85em 0.15em;
	max-width: 100px;
	background: transparent;
	color: #595F6E;
	padding: 0.8em;
	width: 100%;
	border: none;
	border-radius: 5px;
	background: white;
	color: #aaa;
	font-weight: bold;
}

#info{
	margin-left:10px;
}

#title{		/*style for title input*/
	max-width:680px;
	margin-left:20px;
	margin-right:10px;
}

#mceu_13{
	margin-left:10px;
	margin-right:10px;
}

#heading{	/*style for heading input*/
	max-width:660px;
	margin-left:20px;
	margin-right:10px;
}

/*Style for navigation bar*/
.button{	
	font-size:15px;
	margin-top:10px;
	background: rgb(200,230,230); 
	border-radius: 10px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	margin-bottom:10px;
}


.nav_bar{
	max-width:740px;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
	margin-left:20px;
	margin-right:20px;
	margin-bottom:32px;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

.nav{
    float: left;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

a:link{
		text-decoration:none;
		color:#4d469c;
}
a:hover {
    text-decoration: underline;
    cursor: auto;
}

li a.active {
    color: white;
    background-color: #4CAF50;
}

/*Style for navigation bar*/
