body {
    font-family: comic sans ms;
    background-color: #4580ad;
    margin-top: 45px;
}


.text-big {
    font-size: 125%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
.container{
    margin: 0 auto;
    color: #000000;
    font-family: comic sans ms;
}


